
<div id= dialogo>
  <p> <%= @mensaje %> </p>
  <p><i> - You </i></p>

  <div id= coach>
  <p><strong> - <%= @answer %></strong> </p>
  <p><i> Your coach </i> </p>
  </div>
</div>

 <p> <%= link_to "Ir a Ask Page", ask_path %> </p>
